.EventFormModal {
  position: absolute;
  width: 500px;
  height: 600px;
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
  box-shadow: 0 0.4rem 3rem 0 rgb(0, 0, 0, 0.3);
}

.EventFormModal-overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: grid;
  place-items: center;
}

.EventFormModal-header {
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
  color: white;
  font-size: large;
  font-weight: bold;
}

.EventFormModal-content {
  padding: 2rem;
}

.EventFormModal-form-input {
  margin-bottom: 1rem;
  font-weight: bold;
}

.EventFormModal-form-input input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 0.5rem;
}

.EventFormModal-submit {
  width: 100%;
  height: 50px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
