.App-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.App-title {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.events-page{
  margin: 1rem;
}
